<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binance Token K-Line Chart</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="content">
        <h1>Binance Token K-Line Chart</h1>

        <form method="post">
            <input type="text" name="symbol" placeholder="Enter the token symbol (e.g., BTC)">
            <input type="submit" value="Search">
        </form>
        
        <div class="chart-container">
            {% if chart %}
                {{ chart | safe }}
            {% endif %}
        </div>

        <!-- 币安代币监控链接 -->
        <h2><a href="https://www.binancetoken.xyz/" target="_blank">Binance Coin Monitoring</a></h2>
    </div>
    
    <!-- 页脚 -->
    <footer>
        <p><a href="https://www.binancetoken.xyz/" target="_blank"><span class="icon">x.com</span></a></p>
    </footer>
</body>
</html>
